body {
    font-family: Arial, sans-serif;
    background: #1f1e1e;      /* black background */
    color: #e5e7eb;
}

/* Form */
form {
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    background: #3d3939;      /* dark form */
    border-radius: 8px;
    border: 1px solid #757373;
}

/* Headings */
h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

/* Labels */
label {
    font-size: 13px;
    color: #9ca3af;
}

/* Inputs & Select */
input,
select {
    width: 100%;
    padding: 8px 10px;
    margin-top: 6px;
    background: #000;
    color: #e5e7eb;
    border: 1px solid #333;
    border-radius: 4px;
}

/* Focus */
input:focus,
select:focus {
    outline: none;
    border-color: #3b82f6;
}

/* Button */
button {
    width: 100%;
    margin-top: 15px;
    padding: 9px;
    background: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}
